<style>
    :root {
        display: grid;
        grid: 'location map'auto
              'chat map' 1fr
                / 200px 1fr;
        gap: 40px;
    }

    #location{
        grid-area: location;
    }

    #chat{
        grid-area: chat;
    }

    #map {
        grid-area: map;
        border: 1px solid #333;
    }

    #panel {
        background-color: #fff;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }

    #panel img {
        width: 24px;
    }

    #panel * {
        vertical-align: middle;
    }

    table {
        margin-bottom: 10px;
    }

    .table-user tr:nth-child(even) {
        background-color: #dddddd;
    }

    td.student-name {
        width: 70%;
    }

    td button {
        width: 100%;
    }

    td:last-child {
        width: 100%;
    }

    #info {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    .chat-icon {
        cursor: pointer;
        width: 100%;
        height: 20px;
    }
</style>

<template>
    <main>
        <div id="location">
            <table class="table">
                <tr><td>Meter</td><td>
                    <select v-model="meter" @change="change($event, 'meter')">
                        <option disabled value="">Please select one</option>
                        <option value="5000">5000</option>
                        <option value="10000">10000</option>
                        <option value="20000">20000</option>
                        <option value="40000">40000</option>
                        <option value="60000">60000</option>
                        <option value="80000">80000</option>
                    </select>
                </td></tr>

                <tr><td>Gender</td><td>
                    <select v-model="gender" @change="change($event, 'gender')">
                        <option disabled value="">Please select one</option>
                        <option value="all">All</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </td></tr>

                <tr><td>Location </td><td>{{ lat.toFixed(3) }}, {{ lng.toFixed(3) }}</td></tr>
            </table>
        </div>

        <div id="chat">
            <h1>Chat with others</h1>
            <table class="table table-users">
                <tr><td colspan="2" style="text-align: center;">Nearby users</td></tr>
                <tr v-for="student in nearbyStudents" :key="student.id">
                    <td class="student-name">{{ student.name }}</td>
                    <td><svg class="chat-icon" @click="chat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Chat Now !</title><path d="M12,3C17.5,3 22,6.58 22,11C22,15.42 17.5,19 12,19C10.76,19 9.57,18.82 8.47,18.5C5.55,21 2,21 2,21C4.33,18.67 4.7,17.1 4.75,16.5C3.05,15.07 2,13.13 2,11C2,6.58 6.5,3 12,3M17,12V10H15V12H17M13,12V10H11V12H13M9,12V10H7V12H9Z" /></svg></td>
                </tr>
                <tr v-if="nearbyStudents.length == 0">
                    <td colspan="2" class="no-users">No nearby users found</td>
                </tr>
            </table>
        </div>

        <div id="map"></div>

        <template>
            <div id="panel">
                <button @click="panToCenter" title="Pan to Center"><img src="image/panToCenter.png" alt="Pan to Center"></button>
                <template v-if="showCafes">
                    <button @click="clearCafeMarkers(); showCafes = false" title="Remove Cafes"><img src="image/remove.png" alt="Remove Cafes"></button>
                </template>
                <template v-else>
                    <button @click="findNearbyCafes" title="Display Nearby Cafes"><img src="image/coffee.png" alt="Find Cafes"></button>
                </template>
                <template v-if="showRestaurants">
                    <button @click="clearRestaurantMarkers(); showRestaurants = false" title="Remove Restaurants"><img src="image/remove.png" alt="Remove Restaurants"></button>
                </template>
                <template v-else>
                    <button @click="findNearbyRestaurants" title="Display Nearby Restaurants"><img src="image/restaurant.png" alt="Find Restaurants"></button>
                </template>
            </div>
            </div>
        </template>

    </main>
</template>

<script>

    app.component({
        data: () => ({
            player: null,
            circle: null,
            meter: '5000',
            gender: 'all',
            lat: 0,
            lng: 0,
            acc: 0,
            markers: [],
            students: [],

            //chat data
            message: '',
            documentFile: '',
            youtubeLink: '',
            image: '',
            emoji: '',
            dateAndTime: '',
            mp3: '',

            nearbyStudents: [],

            cafes: [],
            cafeMarkers: [],
            placesService: null,
            showCafes : false,

            restaurant: [],
            restaurantMarkers: [],
            showRestaurants: false,
        }),

        methods: {
            chat(){
                alert("lets chat")
            },
            findNearbyCafes() {
                this.showCafes = true;
                const location = new gm.LatLng(this.lat, this.lng);
                const request = {
                    location: location,
                    radius: this.meter,
                    type: ['cafe']
                };

                this.placesService.nearbySearch(request, (results, status) => {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        this.cafes = results;
                        this.plotCafeMarkers();
                    } else {
                        console.error('PlacesService failed due to: ' + status);
                    }
                });
            },
            plotCafeMarkers() {
                this.clearCafeMarkers();
                for (const cafe of this.cafes) {
                    const position = new gm.LatLng(cafe.geometry.location.lat(), cafe.geometry.location.lng());
                    const marker = new gm.Marker({
                        map: map,
                        position: position,
                        icon: {
                            url: 'image/coffee.png',
                            scaledSize: new google.maps.Size(34, 34),
                        },
                    });

                    const info = new gm.InfoWindow();

                    marker.addListener('click', () => {
                        this.placesService.getDetails({ placeId: cafe.place_id }, (place, status) => {
                            if (status === google.maps.places.PlacesServiceStatus.OK) {
                                const hours = place.opening_hours ? place.opening_hours.weekday_text.join('<br>') : 'Opening hours not available';
                                const rating = place.rating ? `Rating: ${place.rating}` : 'Rating not available';

                                const distance = google.maps.geometry.spherical.computeDistanceBetween(
                                    new google.maps.LatLng(this.lat, this.lng),
                                    position
                                );
                                const distanceKm = (distance / 1000).toFixed(2);

                                info.setContent(`
                                    <div id="info" style="text-align: center;">
                                        <div style="position: relative; display: inline-block;">
                                            <img src="${place.photos ? place.photos[0].getUrl({ maxWidth: 200, maxHeight: 200 }) : 'image/no-image.png'}"
                                                style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #FF0000; display: block; margin: 0 auto;">
                                        </div>
                                        <div style="margin-top: 10px; font-size: 14px;">
                                            <b>${place.name}</b>
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.vicinity}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.opening_hours ? 'Open now: ' + (place.opening_hours.isOpen() ? '<span style="color:green">Yes</span>' : '<span style="color:red">No</span>') : '-'}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${rating} <img style="width:12px" src="image/star.png">
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            Distance: ${distanceKm} km
                                        </div>
                                        <div style="margin-top: 10px; font-size: 12px; color: gray;">
                                            ${hours}
                                        </div>
                                    </div>
                                `);
                                info.open(map, marker);
                            }
                        });
                    });

                    this.cafeMarkers.push(marker);
                }
            },

            findNearbyRestaurants() {
                this.showRestaurants = true;
                const location = new gm.LatLng(this.lat, this.lng);
                const request = {
                    location: location,
                    radius: this.meter,
                    type: ['restaurant']
                };

                this.placesService.nearbySearch(request, (results, status) => {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        this.restaurants = results;
                        this.plotRestaurantMarkers();
                    } else {
                        console.error('PlacesService failed due to: ' + status);
                    }
                });
            },
            plotRestaurantMarkers() {
                this.clearRestaurantMarkers();
                for (const restaurant of this.restaurants) {
                    const position = new gm.LatLng(restaurant.geometry.location.lat(), restaurant.geometry.location.lng());
                    const marker = new gm.Marker({
                        map: map,
                        position: position,
                        icon: {
                            url: 'image/restaurant.png',
                            scaledSize: new google.maps.Size(34, 34),
                        },
                    });

                    const info = new gm.InfoWindow();

                    marker.addListener('click', () => {
                        this.placesService.getDetails({ placeId: restaurant.place_id }, (place, status) => {
                            if (status === google.maps.places.PlacesServiceStatus.OK) {
                                const hours = place.opening_hours ? place.opening_hours.weekday_text.join('<br>') : 'Opening hours not available';
                                const rating = place.rating ? `Rating: ${place.rating}` : 'Rating not available';

                                const distance = google.maps.geometry.spherical.computeDistanceBetween(
                                    new google.maps.LatLng(this.lat, this.lng),
                                    position
                                );
                                const distanceKm = (distance / 1000).toFixed(2);

                                info.setContent(`
                                    <div id="info" style="text-align: center;">
                                        <div style="position: relative; display: inline-block;">
                                            <img src="${place.photos ? place.photos[0].getUrl({ maxWidth: 200, maxHeight: 200 }) : 'image/no-image.png'}"
                                                style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #FF0000; display: block; margin: 0 auto;">
                                        </div>
                                        <div style="margin-top: 10px; font-size: 14px;">
                                            <b>${place.name}</b>
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.vicinity}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.opening_hours ? 'Open now: ' + (place.opening_hours.isOpen() ? '<span style="color:green">Yes</span>' : '<span style="color:red">No</span>') : '-'}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${rating} <img style="width:12px" src="image/star.png">
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            Distance: ${distanceKm} km
                                        </div>
                                        <div style="margin-top: 10px; font-size: 12px; color: gray;">
                                            ${hours}
                                        </div>
                                    </div>
                                `);
                                info.open(map, marker);
                            }
                        });
                    });

                    this.restaurantMarkers.push(marker);
                }
            },
            panToCenter() {
                const center = new gm.LatLng(this.lat, this.lng);
                map.panTo(center);
            },
            change(event, field){
                const newValue = event.target.value;

                if (field === 'meter') {
                    this.circle.setRadius(parseInt(newValue));
                    this.retrieveUsers()

                } else if (field === 'gender') {
                    this.retrieveUsers();
                }
            },
            getLocation() {
                const options = {
                    enableHighAccuracy: true,
                };

                navigator.geolocation.getCurrentPosition(
                    this.success,
                    this.fail,
                    options
                );
            },
            success(position) {
                this.lat = position.coords.latitude;
                this.lng = position.coords.longitude;
                this.acc = position.coords.accuracy;

                const p = new gm.LatLng(this.lat, this.lng);
                this.player.setPosition(p);
                map.panTo(p);

                if (!this.circle) {
                    this.circle = new gm.Circle({
                        map: map,
                        center: p,
                        radius: parseInt(this.meter) || 0,
                        fillColor: '#AA0000',
                        fillOpacity: 0.35,
                        strokeColor: '#AA0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                    });
                } else {
                    this.circle.setCenter(p);
                }

                this.saveCoordToCloud();
            },
            fail(error) {
                alert(`ERROR: (${error.code}) ${error.message}`);
            },
            saveCoordToCloud(){
                let payload = {
                    latitude: this.lat,
                    longitude: this.lng,
                    accuracy: this.acc
                }

                STUDENTS.doc(this.$root.user.email).set(payload, { merge: true });
            },

            async retrieveUsers() {
                try {
                    this.students = [];
                    let query = STUDENTS;
                    if (this.gender !== 'all') {
                        query = query.where('gender', '==', this.gender);
                    }
                    const querySnapshot = await query.get();

                    querySnapshot.forEach(doc => {
                        const student = doc.data();
                        if (doc.id !== this.$root.user.email.toLowerCase()) {
                            const studentPosition = new gm.LatLng(student.latitude, student.longitude);
                            const distance = google.maps.geometry.spherical.computeDistanceBetween(studentPosition, this.player.getPosition());
                            student.distance = distance
                            this.students.push(student);
                        }
                    });

                    this.nearbyStudents = this.students.filter(student => {
                        const studentPosition = new gm.LatLng(student.latitude, student.longitude);
                        const distance = google.maps.geometry.spherical.computeDistanceBetween(studentPosition, this.player.getPosition());
                        // Convert distance from meters to kilometers and check if it's within the specified radius
                        return distance / 1000 <= parseInt(this.meter) / 1000;
                    });

                    this.plotMarkers();
                } catch (error) {
                    console.error('Error retrieving users:', error);
                }
            },

            plotMarkers() {
                this.clearUserMarkers();
                for (const student of this.students) {
                    const position = new gm.LatLng(student.latitude, student.longitude);

                    const marker = new gm.Marker({
                        map,
                        position,
                        icon: {
                            url: student.photo || 'image/photo.png',
                            scaledSize: new gm.Size(34, 34),
                        },
                    });

                    const info = new gm.InfoWindow();

                    let timeout = null;

                    marker.addListener('click', e =>{
                        info.setContent(`
                        <div id="info" style="text-align: center;">
                                <div style="position: relative; display: inline-block;">
                                    <img src="${student.photo}"
                                        style="
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 50%;
                                            border: 2px solid #FF0000;
                                            display: block;
                                            margin: 0 auto;
                                        ">
                                </div>
                                <div style="margin-top: 10px; font-size: 14px;">
                                    <b>"${student.caption}"</b>
                                </div>
                                <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                    I am <b>${student.distance.toFixed(2)}</b> meters away from you.
                                </div>
                            </div>
                        `);
                        info.open(map, marker);

                        clearTimeout(timeout);
                        timeout = setTimeout(_ => info.close(), 3000);
                    })

                    this.markers.push(marker);
                }
            },

            clearUserMarkers() {
                for (let i = 0; i < this.markers.length; i++) {
                    this.markers[i].setVisible(false);
                }
                this.markers = [];
            },
            clearCafeMarkers() {
                for (let i = 0; i < this.cafeMarkers.length; i++) {
                    this.cafeMarkers[i].setVisible(false);
                }
                this.cafeMarkers = [];
            },
            clearRestaurantMarkers() {
                for (let i = 0; i < this.restaurantMarkers.length; i++) {
                    this.restaurantMarkers[i].setVisible(false);
                }
                this.restaurantMarkers = [];
            },
        },

        created() {
            if (!this.$root.user) {
                this.$router.push('/sign-in');
                return;
            } else {
                this.$root.title = 'Welcome to Minder !';
            }

            document.title = 'Minder';
        },

        mounted() {
            map = new gm.Map(document.getElementById('map'), {
                center,
                zoom: 16,
                disableDefaultUI: true,
                disableDoubleClickZoom: true,
                clickableIcons: false,
                scaleControl: true,
            });

            this.placesService = new gm.places.PlacesService(map);

            const panel = document.getElementById('panel');
            panel.index = 0;
            map.controls[gm.ControlPosition.TOP_LEFT].push(panel);

            if (this.$root.user) {
                this.player = new gm.Marker({
                    map,
                    animation: gm.Animation.DROP,
                    icon: {
                        url: this.$root.user.photoURL || 'image/photo.png',
                        scaledSize: new gm.Size(34, 34),
                    },
                });
            }

            navigator.permissions.query({ name: 'geolocation' }).then(result => {
                if (result.state == 'granted') {
                    this.getLocation();
                }
            });

            this.retrieveUsers();
        },

        unmounted() {
            map = null;
        },
    });
</script>