<template>
    <main>
        <div id="location">
            <table class="table">
                <tr>
                    <td>Meter</td>
                    <td>
                        <select v-model="meter" @change="change($event, 'meter')">
                            <option disabled value="">Please select one</option>
                            <option value="5000">5000</option>
                            <option value="10000">10000</option>
                            <option value="20000">20000</option>
                            <option value="40000">40000</option>
                            <option value="60000">60000</option>
                            <option value="80000">80000</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Gender</td>
                    <td>
                        <select v-model="gender" @change="change($event, 'gender')">
                            <option disabled value="">Please select one</option>
                            <option value="all">All</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>Location </td>
                    <td>{{ lat.toFixed(3) }}, {{ lng.toFixed(3) }}</td>
                </tr>
            </table>
        </div>

        <div id="chat">
            <h1>Chat with others</h1>
            <table class="table table-users">
                <tr>
                    <td colspan="2" style="text-align: center;">Nearby users</td>
                </tr>
                <tr v-for="student in nearbyStudents" :key="student.id">
                    <td class="student-name">{{ student.name }}</td>
                    <td style="text-align: center;"><img class="chat-icon" @click="chat(student.email)"
                            src="image/chat.png" alt="">
                    </td>
                </tr>
                <tr v-if="nearbyStudents.length == 0">
                    <td colspan="2" class="no-users">No nearby users found</td>
                </tr>
            </table>
        </div>

        <div id="map"></div>

        <template v-if="showChat">
            <div id="chat-window">
                <div id="chat-lobby">
                    <div id="chat-header">
                        <h1>ChatRT 3.0</h1>
                        <div>👧🏻 = <b id="count">0</b></div>
                    </div>

                    <div id="chat-body">
                        <div style="flex: 1"></div>
                        <ul style="list-style: none;" id="chat-box"></ul>
                    </div>

                    <div id="chat-footer">
                        <form @keydown.enter.prevent="sendMessage" id="chat-form" autocomplete="off">
                            <input v-model="message" type="text" id="message" placeholder="Enter Message" autofocus ref="message">
                            <div class="emoji-picker">
                                <select id="emoji-select" @click="insertEmoji">
                                    <option value="😀">😀</option>
                                    <option value="😊">😊</option>
                                    <option value="😎">😎</option>
                                    <option value="😍">😍</option>
                                    <option value="🥳">🥳</option>
                                    <option value="😂">😂</option>
                                    <option value="🥰">🥰</option>
                                    <option value="😇">😇</option>
                                    <option value="😉">😉</option>
                                    <option value="😜">😜</option>
                                </select>
                            </div>
                            <button type="button" id="document-file">File</button>
                            <button type="button" id="chat-image">Image</button>
                            <button type="button" id="gallery">Gallery</button>
                            <button type="button" id="webCam">WebCam</button>
                            <input type="file" id="chat-file" accept="image/*" hidden multiple>
                            <input type="file" id="fileInput" accept=".pdf, .doc, .docx" hidden multiple>
                        </form>
                    </div>
                </div>
            </div>
        </template>


        <template>
            <div id="panel">
                <button @click="panToCenter" title="Pan to Center"><img src="image/panToCenter.png"
                        alt="Pan to Center"></button>
                <template v-if="showCafes">
                    <button @click="clearCafeMarkers(); showCafes = false" title="Remove Cafes"><img
                            src="image/remove.png" alt="Remove Cafes"></button>
                </template>
                <template v-else>
                    <button @click="findNearbyCafes" title="Display Nearby Cafes"><img src="image/coffee.png"
                            alt="Find Cafes"></button>
                </template>
                <template v-if="showRestaurants">
                    <button @click="clearRestaurantMarkers(); showRestaurants = false" title="Remove Restaurants"><img
                            src="image/remove.png" alt="Remove Restaurants"></button>
                </template>
                <template v-else>
                    <button @click="findNearbyRestaurants" title="Display Nearby Restaurants"><img
                            src="image/restaurant.png" alt="Find Restaurants"></button>
                </template>

                <template v-if="enableShowRoute">
                    <button @click="enableShowRoute = false" title="Disable Show Route"><img src="image/remove.png"
                            alt="Disable Show Route"></button>
                </template>
                <template v-else>
                    <button @click="enableShowRoute= true" title="Enable Show Route"><img src="image/route.png"
                            alt="Enable Show Route"></button>
                </template>
            </div>
            </div>
        </template>

    </main>
</template>

<script>

    app.component({
        data: () => ({
            player: null,
            circle: null,
            meter: '5000',
            gender: 'all',
            lat: 0,
            lng: 0,
            acc: 0,
            markers: [],
            students: [],

            nearbyStudents: [],

            cafes: [],
            cafeMarkers: [],
            placesService: null,
            showCafes: false,

            restaurant: [],
            restaurantMarkers: [],
            showRestaurants: false,

            directionsService: null,
            directionsRenderer: null,
            routeToCafe: false,
            routeToRestaurant: false,
            routeToUser: false,

            enableShowRoute: false,

            //chat data
            showChat: false,

            historyData: [],
            message: '',
            documentFile: '',
            youtubeLink: '',
            image: '',
            date: '',
            time: '',
            mp3: '',

            senderEmail: '',
            receiverEmail: '',

            submissionCount: 0,
            lastSubmissionTime: null,
            timerReset: null
        }),

        methods: {

            chat(email) { 
                this.showChat = !this.showChat
                this.senderEmail = this.$root.user.email
                this.receiverEmail = email

                DB.collection('chat')
                    .where('senderEmail', '==', this.senderEmail)
                    .where('receiverEmail', '==', this.receiverEmail)
                    .get()
                    .then(querySnapshot => {
                        querySnapshot.forEach(doc => {
                            const data = doc.data();
                            this.historyData.push({
                                message: data.message,
                                senderEmail: data.senderEmail,
                                receiverEmail: data.receiverEmail,
                                date: data.date,
                                time: data.time
                            });
                        });
                    });

                // get history
                // cannot restore the message but already get the data
                for (let i = 0; i < this.historyData.length; i++) {
                    const history = this.historyData[i];
                    if (history.senderEmail == this.senderEmail) {
                        alert(history.message)
                        $('#chat-box').append(`
                            <li class="sender">
                                <div>
                                    <b></b> 
                                    <a>${history.message}</a>
                                    <a style="font-size: 10px;">${history.date} ${history.time}</a>
                                </div>
                            </li>
                        `);
                    }
                    else {
                        $('#chat-box').append(`
                            <li class="receiver">
                                <div>
                                    <b></b> 
                                    <a>${history.message}</a>
                                    <a style="font-size: 10px;">${history.date} ${history.time}</a>
                                </div>
                            </li>
                        `);
                    }
                };

            },

            sendMessage() {
                let dateTime = this.generateDateTime();
                let message = this.message;

                let badwords = /fuck|sohai|jibai/gi;
                let newMessage = message.replace(badwords, '******');

                $('#chat-box').append(`
                <li class="sender">
                    <div>
                        <b></b> 
                        <a>${newMessage}</a>
                        <a style="font-size: 10px;">${dateTime.date} ${dateTime.time}</a>
                    </div>
                </li>
            `);

                const data = {
                    message: newMessage,
                    senderEmail: this.$root.user.email,
                    receiverEmail: this.receiverEmail,
                    date: dateTime.date,
                    time: dateTime.time,
                };
                this.message = '';
                // Save data to Firestore
                CHATS.doc().set(data);

                this.handleKeypress();
            },

            resetSubmissionCount() {
                this.submissionCount = 0;
            },

            handleKeypress() { 
                const currentTime = new Date().getTime();
                if (this.lastSubmissionTime && currentTime - this.lastSubmissionTime < 10000) {
                    this.submissionCount++;
                } else {
                    this.submissionCount = 1; // Reset count if time window has passed
                }
                this.lastSubmissionTime = currentTime;


                if (this.submissionCount >= 5) {
                    alert("You've submitted too frequently. Please wait for 10 seconds before submitting again.");
                    this.$refs.message.disabled = true;

                    setTimeout(() => {
                        this.$refs.message.disabled = false;
                        this.resetSubmissionCount();
                    }, 10000);
                } else {
                    this.$refs.message.disabled = false;
                }

                clearTimeout(this.timerReset); 
                this.timerReset = setTimeout(() => {
                    this.resetSubmissionCount();
                }, 10000);
            },

            insertEmoji(event) { //cannot choose the same emoji
                const emoji = event.target.value;
                const textBox = this.$refs.message;
                const startPos = textBox.selectionStart;
                const endPos = textBox.selectionEnd;
                const text = this.message;
                this.message = text.substring(0, startPos) + emoji + text.substring(endPos);
                this.$nextTick(() => {
                    textBox.focus();
                    textBox.setSelectionRange(startPos + emoji.length, startPos + emoji.length);
                });
            },

            generateDateTime() {
            const date = new Date();
            const dateFormat = new Intl.DateTimeFormat('en-US', { dateStyle: 'short' });
            const formattedDate = dateFormat.format(date).toString();

            const timeFormat = new Intl.DateTimeFormat('en-US', { hour: '2-digit', minute: '2-digit' });
            const formattedTime = timeFormat.format(date).toString();

            return {
                date: formattedDate,
                time: formattedTime
            };
        },


        trackProfileView(profileEmail) {
                const profileViewRef = STUDENTS.doc(profileEmail);

                profileViewRef.get().then(doc => {
                    if (doc.exists) {
                        profileViewRef.update({
                            profileViews: doc.data().profileViews + 1
                        });
                    }
                }).catch(error => {
                    console.error('Error tracking profile view:', error);
                });
            },
            calculateAndDisplayRoute(destination, type) {
                const request = {
                    origin: new google.maps.LatLng(this.lat, this.lng),
                    destination: destination,
                    travelMode: google.maps.TravelMode.DRIVING,
                };

                this.directionsService.route(request, (result, status) => {
                    if (status == google.maps.DirectionsStatus.OK) {
                        this.directionsRenderer.setDirections(result);
                    } else {
                        console.error('Directions request failed due to ' + status);
                    }
                });
            },

            displayRouteToUser(user) {
                try {
                    const otherUserLocation = new gm.LatLng(user.latitude, user.longitude);

                    const request = {
                        origin: new google.maps.LatLng(this.lat, this.lng),
                        destination: otherUserLocation,
                        travelMode: google.maps.TravelMode.DRIVING,
                    };

                    this.directionsService.route(request, (result, status) => {
                        if (status == google.maps.DirectionsStatus.OK) {
                            this.directionsRenderer.setDirections(result);
                        } else {
                            console.error('Directions request failed due to ' + status);
                        }
                    });
                } catch (error) {
                    console.error('Error displaying route:', error);
                }
            },

            toggleRouteToCafe() {
                this.routeToCafe = !this.routeToCafe;
                if (this.routeToCafe) {
                    this.routeToRestaurant = false;
                }
            },

            toggleRouteToRestaurant() {
                this.routeToRestaurant = !this.routeToRestaurant;
                if (this.routeToRestaurant) {
                    this.routeToCafe = false;
                }
            },
            findNearbyCafes() {
                this.showCafes = true;
                const location = new gm.LatLng(this.lat, this.lng);
                const request = {
                    location: location,
                    radius: this.meter,
                    type: ['cafe']
                };

                this.placesService.nearbySearch(request, (results, status) => {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        this.cafes = results;
                        this.plotCafeMarkers();
                    } else {
                        console.error('PlacesService failed due to: ' + status);
                    }
                });
            },
            plotCafeMarkers() {
                this.clearCafeMarkers();
                for (const cafe of this.cafes) {
                    const position = new gm.LatLng(cafe.geometry.location.lat(), cafe.geometry.location.lng());
                    const marker = new gm.Marker({
                        map: map,
                        position: position,
                        icon: {
                            url: 'image/coffee.png',
                            scaledSize: new google.maps.Size(34, 34),
                        },
                    });

                    const info = new gm.InfoWindow();

                    marker.addListener('click', () => {
                        if (!this.enableShowRoute) {
                            this.placesService.getDetails({ placeId: cafe.place_id }, (place, status) => {
                                if (status === google.maps.places.PlacesServiceStatus.OK) {
                                    const hours = place.opening_hours ? place.opening_hours.weekday_text.join('<br>') : 'Opening hours not available';
                                    const rating = place.rating ? `Rating: ${place.rating}` : 'Rating not available';

                                    const distance = google.maps.geometry.spherical.computeDistanceBetween(
                                        new google.maps.LatLng(this.lat, this.lng),
                                        position
                                    );
                                    const distanceKm = (distance / 1000).toFixed(2);

                                    info.setContent(`
                                    <div id="info" style="text-align: center;">
                                        <div style="position: relative; display: inline-block;">
                                            <img src="${place.photos ? place.photos[0].getUrl({ maxWidth: 200, maxHeight: 200 }) : 'image/no-image.png'}"
                                                style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #FF0000; display: block; margin: 0 auto;">
                                        </div>
                                        <div style="margin-top: 10px; font-size: 14px;">
                                            <b>${place.name}</b>
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.vicinity}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.opening_hours ? 'Open now: ' + (place.opening_hours.isOpen() ? '<span style="color:green">Yes</span>' : '<span style="color:red">No</span>') : '-'}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${rating} <img style="width:12px" src="image/star.png">
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            Distance: ${distanceKm} km
                                        </div>
                                        <div style="margin-top: 10px; font-size: 12px; color: gray;">
                                            ${hours}
                                        </div>
                                    </div>
                                `);
                                    info.open(map, marker);
                                }
                            });
                        }
                    });

                    marker.addListener('click', () => {
                        if (this.enableShowRoute) {
                            if (this.routeToCafe) {
                                this.routeToCafe = false;
                                this.directionsRenderer.setDirections({ routes: [] });
                            } else {
                                this.routeToCafe = true;
                                this.calculateAndDisplayRoute(position, 'cafe');
                            }
                        }
                    });

                    this.cafeMarkers.push(marker);
                }
            },

            findNearbyRestaurants() {
                this.showRestaurants = true;
                const location = new gm.LatLng(this.lat, this.lng);
                const request = {
                    location: location,
                    radius: this.meter,
                    type: ['restaurant']
                };

                this.placesService.nearbySearch(request, (results, status) => {
                    if (status === google.maps.places.PlacesServiceStatus.OK) {
                        this.restaurants = results;
                        this.plotRestaurantMarkers();
                    } else {
                        console.error('PlacesService failed due to: ' + status);
                    }
                });
            },
            plotRestaurantMarkers() {
                this.clearRestaurantMarkers();
                for (const restaurant of this.restaurants) {
                    const position = new gm.LatLng(restaurant.geometry.location.lat(), restaurant.geometry.location.lng());
                    const marker = new gm.Marker({
                        map: map,
                        position: position,
                        icon: {
                            url: 'image/restaurant.png',
                            scaledSize: new google.maps.Size(34, 34),
                        },
                    });

                    const info = new gm.InfoWindow();

                    marker.addListener('click', () => {
                        if (!this.enableShowRoute) {
                            this.placesService.getDetails({ placeId: restaurant.place_id }, (place, status) => {
                                if (status === google.maps.places.PlacesServiceStatus.OK) {
                                    const hours = place.opening_hours ? place.opening_hours.weekday_text.join('<br>') : 'Opening hours not available';
                                    const rating = place.rating ? `Rating: ${place.rating}` : 'Rating not available';

                                    const distance = google.maps.geometry.spherical.computeDistanceBetween(
                                        new google.maps.LatLng(this.lat, this.lng),
                                        position
                                    );
                                    const distanceKm = (distance / 1000).toFixed(2);

                                    info.setContent(`
                                    <div id="info" style="text-align: center;">
                                        <div style="position: relative; display: inline-block;">
                                            <img src="${place.photos ? place.photos[0].getUrl({ maxWidth: 200, maxHeight: 200 }) : 'image/no-image.png'}"
                                                style="width: 50px; height: 50px; border-radius: 50%; border: 2px solid #FF0000; display: block; margin: 0 auto;">
                                        </div>
                                        <div style="margin-top: 10px; font-size: 14px;">
                                            <b>${place.name}</b>
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.vicinity}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${place.opening_hours ? 'Open now: ' + (place.opening_hours.isOpen() ? '<span style="color:green">Yes</span>' : '<span style="color:red">No</span>') : '-'}
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            ${rating} <img style="width:12px" src="image/star.png">
                                        </div>
                                        <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                            Distance: ${distanceKm} km
                                        </div>
                                        <div style="margin-top: 10px; font-size: 12px; color: gray;">
                                            ${hours}
                                        </div>
                                    </div>
                                `);
                                    info.open(map, marker);
                                }
                            });
                        }
                    });

                    marker.addListener('click', () => {
                        if (this.enableShowRoute) {
                            if (this.routeToRestaurant) {
                                this.routeToRestaurant = false;
                                this.directionsRenderer.setDirections({ routes: [] });
                            } else {
                                this.routeToRestaurant = true;
                                this.calculateAndDisplayRoute(position, 'restaurant');
                            }
                        }
                    });

                    this.restaurantMarkers.push(marker);
                }
            },
            panToCenter() {
                const center = new gm.LatLng(this.lat, this.lng);
                map.panTo(center);
            },
            change(event, field) {
                const newValue = event.target.value;

                if (field === 'meter') {
                    this.circle.setRadius(parseInt(newValue));
                    this.retrieveUsers()

                } else if (field === 'gender') {
                    this.retrieveUsers();
                }
            },
            getLocation() {
                const options = {
                    enableHighAccuracy: true,
                };

                navigator.geolocation.getCurrentPosition(
                    this.success,
                    this.fail,
                    options
                );
            },
            success(position) {
                this.lat = position.coords.latitude;
                this.lng = position.coords.longitude;
                this.acc = position.coords.accuracy;

                const p = new gm.LatLng(this.lat, this.lng);
                this.player.setPosition(p);
                map.panTo(p);

                if (!this.circle) {
                    this.circle = new gm.Circle({
                        map: map,
                        center: p,
                        radius: parseInt(this.meter) || 0,
                        fillColor: '#AA0000',
                        fillOpacity: 0.35,
                        strokeColor: '#AA0000',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                    });
                } else {
                    this.circle.setCenter(p);
                }

                this.saveCoordToCloud();
            },
            fail(error) {
                alert(`ERROR: (${error.code}) ${error.message}`);
            },
            saveCoordToCloud() {
                let payload = {
                    latitude: this.lat,
                    longitude: this.lng,
                    accuracy: this.acc
                }

                STUDENTS.doc(this.$root.user.email).set(payload, { merge: true });
            },

            async retrieveUsers() {
                try {
                    this.students = [];
                    let query = STUDENTS;
                    if (this.gender !== 'all') {
                        query = query.where('gender', '==', this.gender);
                    }
                    const querySnapshot = await query.get();

                    if (this.player) {
                        const playerPosition = this.player.getPosition();
                        querySnapshot.forEach(doc => {
                            const student = doc.data();
                            if (doc.id !== this.$root.user.email.toLowerCase()) {
                                const studentPosition = new gm.LatLng(student.latitude, student.longitude);
                                const distance = google.maps.geometry.spherical.computeDistanceBetween(studentPosition, playerPosition);
                                student.distance = distance
                                this.students.push(student);
                            }
                        });

                        this.nearbyStudents = this.students.filter(student => {
                            const studentPosition = new gm.LatLng(student.latitude, student.longitude);
                            const distance = google.maps.geometry.spherical.computeDistanceBetween(studentPosition, playerPosition);
                            // Convert distance from meters to kilometers and check if it's within the specified radius
                            return distance / 1000 <= parseInt(this.meter) / 1000;
                        });

                        this.plotMarkers();
                    }
                } catch (error) {
                    console.error('Error retrieving users:', error);
                }
            },

            plotMarkers() {
                this.clearUserMarkers();
                for (const student of this.students) {
                    const position = new gm.LatLng(student.latitude, student.longitude);

                    const marker = new gm.Marker({
                        map,
                        position,
                        icon: {
                            url: student.photo || 'image/photo.png',
                            scaledSize: new gm.Size(34, 34),
                        },
                    });

                    const info = new gm.InfoWindow();

                    let timeout = null;

                    marker.addListener('click', e => {
                        if (!this.enableShowRoute) {
                            let socialLinks = '';
                            if (student.facebookLink) {
                                socialLinks += `
                                    <a href="${student.facebookLink}" target="_blank">
                                        <img src="image/facebook.png" alt="Facebook" style="width: 20px; height: 20px; margin: 0 5px;">
                                    </a>
                                `;
                            }
                            if (student.twitterLink) {
                                socialLinks += `
                                    <a href="${student.twitterLink}" target="_blank">
                                        <img src="image/twitter.png" alt="Twitter" style="width: 20px; height: 20px; margin: 0 5px;">
                                    </a>
                                `;
                            }
                            if (student.instagramLink) {
                                socialLinks += `
                                    <a href="${student.instagramLink}" target="_blank">
                                        <img src="image/instagram.png" alt="Instagram" style="width: 20px; height: 20px; margin: 0 5px;">
                                    </a>
                                `;
                            }
                            if (student.linkedinLink) {
                                socialLinks += `
                                    <a href="${student.linkedinLink}" target="_blank">
                                        <img src="image/linkedin.png" alt="LinkedIn" style="width: 20px; height: 20px; margin: 0 5px;">
                                    </a>
                                `;
                            }

                            info.setContent(`
                                <div id="info" style="text-align: center;">
                                    <div style="position: relative; display: inline-block;">
                                        <img src="${student.photo}"
                                            style="
                                                width: 50px;
                                                height: 50px;
                                                border-radius: 50%;
                                                border: 2px solid #FF0000;
                                                display: block;
                                                margin: 0 auto;
                                            ">
                                    </div>
                                    <div style="margin-top: 10px; font-size: 14px;">
                                        <b>"${student.caption}"</b>
                                    </div>
                                    <div style="margin-top: 5px; font-size: 12px; color: gray;">
                                        I am <b>${student.distance.toFixed(2)}</b> meters away from you.
                                    </div>
                                    <div style="margin-top: 10px;">
                                        ${socialLinks}
                                    </div>
                                </div>
                            `);
                            info.open(map, marker);

                            this.trackProfileView(student.email)

                            clearTimeout(timeout);
                            timeout = setTimeout(_ => info.close(), 3000);
                        }
                    });

                    marker.addListener('click', () => {
                        if (this.enableShowRoute) {
                            if (this.routeToUser) {
                                this.routeToUser = false;
                                this.directionsRenderer.setDirections({ routes: [] });
                            } else {
                                this.routeToUser = true;
                                this.displayRouteToUser(student)
                            }
                        }
                    });

                    this.markers.push(marker);
                }
            },

            clearUserMarkers() {
                for (let i = 0; i < this.markers.length; i++) {
                    this.markers[i].setVisible(false);
                }
                this.markers = [];
            },
            clearCafeMarkers() {
                for (let i = 0; i < this.cafeMarkers.length; i++) {
                    this.cafeMarkers[i].setVisible(false);
                }
                this.cafeMarkers = [];
            },
            clearRestaurantMarkers() {
                for (let i = 0; i < this.restaurantMarkers.length; i++) {
                    this.restaurantMarkers[i].setVisible(false);
                }
                this.restaurantMarkers = [];
            },
        },

        created() {
            if (!this.$root.user) {
                this.$router.push('/sign-in');
                return;
            } else {
                this.$root.title = 'Welcome to Minder !';
            }

            document.title = 'Minder';
        },

        created() {
        if(!this.$root.user) {
        this.$router.push('/sign-in');
        return;
    } else {
        this.$root.title = 'Welcome to Minder !';
    }

    document.title = 'Minder';
        },

    mounted() {
        map = new gm.Map(document.getElementById('map'), {
            center,
            zoom: 16,
            disableDefaultUI: true,
            disableDoubleClickZoom: true,
            clickableIcons: false,
            scaleControl: true,
        });

        this.placesService = new gm.places.PlacesService(map);

        const panel = document.getElementById('panel');
        panel.index = 0;
        map.controls[gm.ControlPosition.TOP_LEFT].push(panel);

        if (this.$root.user) {
            this.player = new gm.Marker({
                map,
                animation: gm.Animation.DROP,
                icon: {
                    url: this.$root.user.photoURL || 'image/photo.png',
                    scaledSize: new gm.Size(34, 34),
                },
            });
        }

        navigator.permissions.query({ name: 'geolocation' }).then(result => {
            if (result.state == 'granted') {
                this.getLocation();
            }
        });

        this.directionsService = new google.maps.DirectionsService();
        this.directionsRenderer = new google.maps.DirectionsRenderer({
            suppressMarkers: true
        });
        this.directionsRenderer.setMap(map);

        this.retrieveUsers();
    },

    unmounted() {
        map = null;
    },
    });
</script>

<style>
    :root {
        display: grid;
        grid: 'location map' auto 'chat map' 1fr / 200px 1fr;
        gap: 40px;
    }

    #location {
        grid-area: location;
    }

    #chat {
        grid-area: chat;
        position: relative;
    }

    /* chat box */
    #chat-window {
        position: absolute;
        left: 300px;
        top: 300px;
        width: 700px;
        background: white;
        height: 400px;
    }

    #chat-box li {
        margin-bottom: 3px;
    }

    #chat-box li.sender {
        text-align: right;
    }

    #chat-box li.receiver {
        text-align: left;
    }

    #chat-box li.receiver div {
        background-color: #80deea;
        display: inline-flex;
        padding: 3px;
        border-radius: 5px;
    }

    #chat-box li.sender div {
        background-color: #aed581;
        display: inline-flex;
        padding: 3px;
        border-radius: 5px;
    }

    #chat-box li.sender div a {
        padding-right: 10px;
    }

    #chat-box li.receiver div a {
        padding-right: 10px;
    }

    #chat-lobby {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        height: 400px;
    }

    #chat-form {
        display: flex;
        justify-content: center;
    }

    #chat-header {
        padding: 10px;
        white-space: nowrap;
        background-color: #333;
        color: #ccc;
        display: flex;
        place-items: center;
        justify-content: space-between;
    }

    #chat-header h1 {
        flex: 1;
        margin: 0;
        background: url(../image/favicon.png) no-repeat left center / 32px 32px;
        padding-left: 40px;
    }

    #chat-header div {
        color: #000;
        padding: 3px 6px;
        border-radius: 3px;
        background-color: #ccc;
        font-size: 1.5rem;
    }

    #chat-body {
        overflow-y: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
        flex: 1;
    }

    .image {
        max-width: 200px;
        max-height: 200px;
        border: 1px solid #999;
        cursor: pointer;
    }

    /* Fullscreen function */
    .image:fullscreen {
        object-fit: scale-down !important;
        border: none !important;
        background: #000 !important;
        transform: scale(1.3);
    }

    .active {
        outline: 5px dashed red;
        outline-offset: -5px;
    }

    #chat-dialog {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 5px;
    }

    #chat-dialog::backdrop {
        background: #0009;
    }

    #chat-dialog form {
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }

    #chat-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    #chat-container .image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    #chat-footer {
        padding: 10px;
        white-space: nowrap;
        background-color: #333;
    }

    #map {
        grid-area: map;
        border: 1px solid #333;
    }

    #panel {
        background-color: #fff;
        border: 1px solid #999;
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }

    #panel img {
        width: 24px;
    }

    #panel * {
        vertical-align: middle;
    }

    table {
        margin-bottom: 10px;
    }

    .table-user tr:nth-child(even) {
        background-color: #dddddd;
    }

    td.student-name {
        width: 70%;
    }

    td button {
        width: 100%;
    }

    td:last-child {
        width: 100%;
    }

    #info {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
    }

    .chat-icon {
        cursor: pointer;
        height: 20px;
    }
</style>